<!Doctype html>
<html>

<head>
    <title>Zoom 4: Yet Another Zoom App</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body ng-app='zoom3' ng-controller='MainController'>
    <div id='userBoxBg' ng-show='!userName'>
        <div class='panel panel-primary col-md-6 col-md-offset-3 userBox'>
            <div class='panel-heading'>Enter a User Code</div>
            <div id='panel-body'>
                <hr/>
                <input type='text' ng-model='tempName' onclick='$(this).select()' />
                <div id='codeExplain' ng-mouseover='showExpl($event)' ng-mouseout='showExpl($event)'>?</div>
                <hr/> And who are you?
                <input type='text' ng-model='callMe' onclick='$(this).select()' />
                <br/>
                <button ng-click='getName()' class='btn btn-primary'>Play!</button>
            </div>
        </div>
        <div id='explBox' class='panel panel-primary' ng-show='explOn==true'>
            <div class='panel-heading'>User Code</div>
            <div class='panel-body'>
                <ol>
                    <li>Visit zoomstack3.herokuapp.com to get your user code!</li>
                    <li>Enter that here.</li>
                </ol>
            </div>
        </div>
    </div>
    <span style='color:#fff;'>Board Rotation: <input type=number ng-model='boardRot' /></span>
    <div id='gameBoard' style='transform:translateZ(500px) rotateX({{boardRot}}deg)' ng-show='obstCreate==false'>
        <div class='player' ng-repeat='user in allUsers' style='transform:translateX({{user.x}}px) translateY({{user.y}}px) rotateZ({{user.heading}}deg);'>
            <div class='pPiece pBot' style='background:{{user.col}}'></div>
            <div class='pPiece pTop' style='background:{{user.col}}'>
                <div class='userLabel'>{{user.callMe}}</div>
                <div ng-repeat='i in getStatNum(user.shotsLeft) track by $index' class='bullet'></div>
                <br/>
                <div class='targMain' ng-show='user.hasTarg!=-1'>
                    <div class='targV'></div>
                    <div class='targH'></div>
                    <div class='targN'>{{displayTarg(user.hasTarg)}}</div>
                </div>
                <br/>
                <div ng-repeat='i in getStatNum(user.hpLeft) track by $index' class='hp'></div>
            </div>
            <div class='pPiece pLef' style='background:{{user.col}}'></div>
            <div class='pPiece pRig' style='background:{{user.col}}'></div>
            <div class='pPiece pFro' style='background:{{user.col}}'></div>
            <div class='pPiece pBac' style='background:{{user.col}}'></div>
            <div class='pShad' style='transform:translateY({{boardRot/3.6}}px)'></div>
            <div class='pFire' style='box-shadow: 0 0 4px {{user.col}};background:{{user.col}};opacity:{{user.fireTimeLeft}}'></div>
            <div class='pFireFlare' style='box-shadow: 0 0 30px 10px {{user.col}};background:{{user.col}};opacity:{{user.fireTimeLeft}}'></div>
        </div>
        <div class='obst' ng-repeat='obs in obsList' style='transform:translateX({{obs.x}}px) translateY({{obs.y}}px); background:{{obs.col}}; box-shadow:0 {{boardRot/3.6}}px {{boardRot/1.8}}px #000;'></div>
    </div>
    <div id='scoreBoard' class='panel panel-success'>
        <div class='panel-heading'>Scores</div>
        <div class='panel-body'>
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='usr in allUsers'>
                        <td>{{usr.callMe}}</td>
                        <td>{{usr.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src='https://cdn.socket.io/socket.io-1.2.0.js'></script>
    <script src='https://code.jquery.com/jquery-1.11.1.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/angular/angular.js'></script>
    <script src='/angular-sanitize/angular-sanitize.js'></script>
    <script src='/bootbox.js/bootbox.min.js'></script>
    <script src='/js/controllers/MainController.js'></script>
    <script src='/js/factories/playerFact.js'></script>
    <script src='/js/factories/socket.js'></script>
</body>

</html>
