<!Doctype html>
<html>

<head>
    <title>Zoom 3: Return of the API</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/styleMob.css" rel="stylesheet" />
</head>

<body ng-app='zoom3m' ng-controller='MobileController' id='mob'>
    <h1>Your user code: {{userName}}</h1>
    <h2>Tap to fire (or press F)!</h2>
    DEBUG INFO: {{debug}}, DEBUG NUM: {{debugRun}}
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src='/angular/angular.js'></script>
    <script src='/angular-sanitize/angular-sanitize.js'></script>
    <script src='/js/controllers/MobileController.js'></script>
    <script src='/js/factories/socket.js'></script>
</body>

</html>
